<section>
    <article>
        <h3>Interpolação</h3>
        <p>String renderizada com interpolação: {{ url }}</p>
        <p>Resultado de 1+ 1 é: {{ 1 + 1 }}</p>
        <p>Resultado de 1 + 1 não é {{ 1 + 1 + getValor()}}</p>
        <p>Curso Angular: {{ cursoAngular && getCurtirCurso() }}</p>
    </article>

    <article>
        <h3>Property binding</h3>
        <img src="{{ urlImagem }}">
        <img [src]="urlImagem">
    </article>

    <article>
        <h3>Class e Style binding</h3>

        <h2>Selecione uma classe</h2>
        <select #classe (change)="0">
            <option value="sucesso">Sucesso</option>
            <option value="info">Info</option>
            <option value="alerta">Alerta</option>
            <option value="erro">Erro</option>
        </select>

        <br>
        <br>

        <div [class.sucesso]="classe.value == 'sucesso'">Sucesso</div>
        <div [class.info]="classe.value == 'info'">Info</div>
        <div [class.alerta]="classe.value == 'alerta'">Alerta</div>
        <div [class.erro]="classe.value == 'erro'">Erro</div>

        <br>
        <br>

        <div class="{{ classe.value }}">Alerta</div>

        <br>
        <br>

        <div class="erro" [style.display]="classe.value == 'erro' ? 'block' : 'none'">Erro 2</div>
    </article>

    <article>
        <h3>Event binding</h3>
        <button (click)="btnClicado()">Clique</button>

        <br>
        <br>

        <input type="text" (keyup)="onKeyUp($event)" (keyup.enter)="salvarValor(campoInput.value)" (blur)="salvarValor(campoInput.value)" #campoInput>
        <p>Valor atual: {{ valorAtual }}</p>
        <p>Valor salvo: {{ valorSalvo }}</p>

        <span (mouseover)="onMouseOverOut()" (mouseout)="onMouseOverOut()" [class.sucesso]="isMouseOver">Passe o mouse aqui.</span>
        <br>
        <br>
    </article>

    <article>
        <h3>Two way databinding</h3>
        <div>
            <!-- <input type="text" [value]="nome" (input)="nome = tempValue.value" #tempValue> -->
            <input type="text" [(ngModel)]="nome">
            <p>Voce digitou o nome: {{ nome }}</p>
        </div>
    </article>

    <article>
        <h3>Input/Output properties</h3>
        <app-curso [nome]="nomeDoCurso"></app-curso>
        <contador [valor]="valorInicial" (mudouValor)="onMudouValor($event)"></contador>
    </article>
</section>
